#contact-section{
    max-width: 1500px;
    margin: 0 auto 5rem auto;
}
.contact-container{
    flex-direction: column;
  }
.contact-form form{
    width: 30rem;
}
.contact-form textarea{
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: var(--semi-grey-color);
    margin: .7rem 0;
    padding:1.5rem;
}
.contact-footer input[type="submit"]{
    padding:13px 3rem 13px;
  }
.contact-text p{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 3rem;
}  
  