.container-lr{
    flex-direction: column;
}
.head-lr{
    font-size: 23px;
    padding: 1rem .5rem;
    margin: 1rem auto;
}
.form-lr form{
    display: flex;
    flex-direction:column;
    margin:0 2rem;
}

.form-lr input[type="text"], .form-lr input[type="password"], .form-lr input[type="number"], .form-lr input[type="email"]{
    width: 100%;
    height: 2.7rem;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: var(--semi-grey-color);
    margin: .7rem 0;
    padding: 0 1.5rem;
}
.footer-lr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.footer-lr p{
    font-size: .9rem;
    margin-right:2rem;
}
.footer-lr input[type="submit"]{
  background-color: var(--logo-color);
  font-size: .95rem;
  color: var(--white-color);
}
.footer-lr input[type="submit"]:hover{
    border: none;
  }

 @media(max-width:500px){
    .form-lr input[type="text"], .form-lr input[type="password"], .form-lr input[type="number"],.footer-lr input[type="submit"]{
        height: 2.5rem;
        font-size: .85rem;
    }
 } 
  @media(max-width:430px){
    .footer-lr {
        margin:0;
        align-items:normal;
        flex-direction: column;
    }
    .footer-lr p{
        margin: 1rem 0;
    }
    .footer-lr input[type="submit"] {
        padding:0;
    }
  }